body {
  display: block; /* new lines */
  padding: 10px;
}

/* header */

.header {
  display: flex;
  width: 100%;
  font-family: Verdana;
  font-size: 14px;
  font-weight; bold;
}

.navigation {
  display: flex;
}

.navigation li {
  display: inline-block; /* no new line */
  padding: 5px;
}

.logo {
  display: flex;
  width: 80%;
  color: MediumAquamarine;
}

.logo h4 {
  padding: 5px;
}

/* main content */

/* column 1 */

.mainContent {
  display: flex; /* makes columns */
  top: 100px;
  position: block; /* new line for each div */
  max-height: 1000px;

}

.column {
  display: inline; /* columns adjacent */
  padding: 30px;

}

.column div {

}

#column1 {
  max-width: 50px
  min-height: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  /*
  display: inline-flex;
  flex-direction: column;
  width: 630px;
  flex-flow: row wrap;
  align-content: flex-start;
  */
}

/* background images */

.earth {
  background-image: url("./images/img-story-2-fall.png");
}

.research {
  background-image: url("./images/img-story-3-camera.png");
}

/* background image font */

.motherStory p {
  font-family: Georgia;
  font-size: 40px;
  color: black;
  align-items: center;
}

.research h3,
.cat h3,
.earth h3 {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mother h3 {
  display: inline-flex;
  font-family: Georgia;
  font-weight: bold;
  font-size: 200px;
  color: white;
  border: 1px solid white;
  height: 200px;
  align-items: center;
}

/* main content text */
.column p {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.column h3 {
  font-size: 25px;
  margin: 0px;
}

/* main story image */

.mother {
  flex-grow: 2;
  width: 80px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./images/img-story-main.png");
}

.earth,
.research {
  flex-grow: 1;
  width: 30px;
  height: 250px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

/* column 2 */

#column2 {
  width: 300px;
}

.cat {
  width: 300px;
  height: 300px;
  background-image: url("./images/img-story-1-cat.png");
}

/* column 3 */

#column3 {
  width: 240px;
}

.newsBite h3 {
  display: flex;
  font-size: 16px;
  font-weight: bold;
  justify-content: center;
  padding: 40px;
}

.newsBite p {
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  flex-direction: column;
  border-bottom: 1px solid black;
  /*border-bottom: 1px solid black;*/
  padding: 15px;
  margin: 0px;
}
