body {
  font-family: Helvetica;
}

.banner {
  display: flex;
  position: fixed; /* flex display and fixed position makes fixed banner on top */
  justify-content: space-between; /*puts logo and nav at different ends */
  border: 1px solid red;
  width: 100%; /* stretches banner across the top */
}

.logo {
  padding-left: 10px; /* pushes logo from edge */
}
.navigation {
  display: flex; /* makes nav inline not block */
  border: 1px solid blue;
  padding-right: 10px; /* pushes nav away from edge */
}

.navigation p {
  padding: 10px; /* spaces each nav */
}

.main_content {
  position: relative; /* moves to under the fixed banner*/
  top: 70px; /* moves 69px from the top of page, tells relative position where to be*/
  /* display: inline-block; makes it inline */
  border: 5px solid green;
}

.main_content p, h1, h4 { /* naming element to center */
  display: flex; /* this plus justify-content center centers p elements */
  justify-content: center;
}
